<table>
    <tbody><tr>
        <td>
            <p>
                Hello {{ name }},
            </p>

            <p>
                Thanks for signing up for JobXprss account. You are almost done. To activate your account, please click the link below:
            </p>

            <a href="{{ activation_url }}">
                {{ activation_url }}
            </a>
            <br />
            <p>If you did not send the request, please ignore this email. Please do not reply to this email.</p>
            <br />
            <p>
                Best Regards, <br>
                <span class="il">JobXprss Team</span><br>
                For any support, email us at <a href="mailto:support@jobxprss.com" target="_blank" data-mt-detrack-inspected="true" data-mt-detrack-attachment-inspected="true">support@jobxprss.com</a> <br>
            </p>
        </td>
    </tr>
    </tbody>
</table>